h1,
h2 {
  color: #565c5e;
  font-family: "BebasNeue-Regular", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
}

h2 {
  position: relative;
  right: 24px;
}

h6 {
  color: #565c5e;
  font-style: bold;
  font-family: "Rajdhani Medium", Georgia, Times, "Times New Roman", serif;
}

p {
  color: #9da7aa;
  font-style: italic;
  font-family: "Rajdhani", Georgia, Times, "Times New Roman", serif;
}

img {
  width: 60px;
}

p:first-letter {
  text-transform: capitalize;
}

form :placeholder-shown {
  font-family: "Rajdhani", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

.weather-forecast {
  width: 700px;
  display: block;
  margin: 120px auto;
  padding: 0;
  border: solid 1px beige;
}

.realtime form {
  margin: 15px 0;
}

.real-forecast {
  background: rgb(200, 234, 244, 0.5);
}

.real-forecast img {
  padding: 20px 0 0;
}

.future-forecast {
  padding: 25px 10px 15px;
}

.future-forecast p {
  color: #565c5e;
  font-style: normal;
}

.future-forecast img {
  padding-bottom: 15px;
}

.button {
  text-align: center;
  border: 1px solid;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: none;
}

.button-all {
  color: #fff;
  background: #258dc8;
  border: #258dc8;
  padding: 10px 30px;
}

.button-current {
  color: #fff;
  background: #ffab68;
  border: #ffab68;
}

.weather-forecast .metric {
  text-decoration: none;
}

.weather-forecast .units {
  color: #565c5e;
  font-size: 10px;
  position: relative;
  top: -55px;
  left: 10px;
}

.weather-forecast .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-forecast .active:hover {
  text-decoration: none;
}

.open-source-link {
  font-size: 10px;
  position: relative;
  bottom: 120px;
  left: 300px;
}
